[submodule "config"]
	path = config
	url = https://github.com/rakutentech/android-buildconfig.git
[submodule "miniapp/src/main/assets/js-miniapp"]
	path = miniapp/src/main/assets/js-miniapp
	url = https://github.com/rakutentech/js-miniapp.git
	branch = js-bridge-android
